.compare-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.compare-table th, .compare-table td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
}

.compare-table th {
    background-color: #3b0000;
    color: #ffcc00;
}

.fish-image {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

